{% extends "base.html" %}
{% block content %}

    <header id="page-header">
        <div class="container my-3 py-3 bg-light">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>ユーザー管理</h1>
                </div>
            </div>
        </div>
    </header>

    {% if current_user.is_administrator() %}
    <section id="menu">
        <div class="container my-3 py-3 bg-light">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ url_for('signup') }}" class="btn btn-primary w-100">
                        ユーザー登録
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section id="list">
        <div class="container my-3">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>最新のユーザー</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped text-nowrap">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>ユーザー名</th>
                                        <th>名前</th>
                                        <th>メールアドレス</th>
                                        <th>電話番号</th>
                                        <th>詳細</th>
                                        <th>変更</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>U{{ '%06d' % loop.index }}</td>  <!-- インデックスを6桁の番号で表示 -->
                                        <td>{{ user.get('display_name', {}).get('S', '') | truncate(10) }}</td>
                                        <td>{{ user.get('user_name', {}).get('S', '') | truncate(10) }}</td>
                                        <td>{{ user.get('email', {}).get('S', '') | truncate(20) }}</td>
                                        <td>{{ user.get('phone', {}).get('S', '') | truncate(15) }}</td>
                                        <td>
                                            {% if current_user.administrator or current_user.id == user.get('user_id', {}).get('S', '') %}
                                            <a href="{{ url_for('account', user_id=user.get('user_id', {}).get('S', '')) }}" 
                                               class="btn btn-secondary">変更</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <nav>
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('user_maintenance', page=page-1) }}">前へ</a>
            </li>
            {% endif %}
            
            {% if has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('user_maintenance', page=page+1) }}">次へ</a>
            </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}